@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    background: #1F2937;
    padding: 10px 200px 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    font-size: 24px;
    color: #F9FAF8;
}

.right-links {
    display: flex;
    gap: 20px;
}

li {
    color: #F9FAF8;
    list-style: none;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.hero {
    width: 30%;
}

.hero-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;

}
.hero-secondary-text {
    font-size: 18px;
    color: #F9FAF8;
}

.office-img {
    max-width: 200px;
    height: auto;
}
